[Unit]
Description=Valve Controller Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/lib/valve-controller/valve-controller-main.py
Restart=on-failure
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
